@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
@import "./reset.css";
@import "./landing-page/header.css";
@import "./landing-page/top-jumbo.css";
@import "./landing-page/design-by.css";
@import "./landing-page/color-collection.css";
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.box-shadow-down {
  -webkit-box-shadow: 0px 17px 40px -14px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 17px 40px -14px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 17px 40px -14px rgba(0, 0, 0, 0.3);
}

.box-shadow-down {
  -webkit-box-shadow: 0px 0px 60px 20px rgba(59, 59, 59, 0.1);
  -moz-box-shadow: 0px 0px 60px 20px rgba(59, 59, 59, 0.1);
  box-shadow: 0px 0px 60px 20px rgba(59, 59, 59, 0.1);
}
