#color-collection {
  padding: 0 0 50px;
}

#color-collection .container:after {
  content: "";
  display: table;
  clear: both;
}

#color-collection .left-side {
  width: 60%;
  display: inline-block;
  float: left;
  text-align: center;
}

#color-collection .left-side img {
  width: 90%;
  display: inline-block;
  float: left;
  margin: 0 auto;
  transform: rotate(-40deg);
}
#color-collection .right-side {
  width: 40%;
  display: inline-block;
  float: left;
  margin-top: 50px;
}

#color-collection .right-side:after {
  content: "";
  display: table;
  clear: both;
}

#color-collection .right-side .col-1 {
  float: left;
  width: 80%;
}

#color-collection .right-side .col-2 {
  float: left;
  width: 20%;
}

#color-collection .right-side .swatch-area {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
  border-radius: 50px;
  margin-bottom: 30px;
  width: 340px;
}

#color-collection .right-side .swatch-area:after {
  content: "";
  display: table;
  clear: both;
}

#color-collection .right-side .swatch-area .color-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-right: 20px;
}

#color-collection .right-side .swatch-area .color-circle:nth-child(1) {
  background-image: linear-gradient(
    to right top,
    #f1969d,
    #f18ba8,
    #ea83b8,
    #dc7fcb,
    #c37fdf,
    #9d8ef2,
    #6c9bfd,
    #00a6ff,
    #00b6f6,
    #00bfc9,
    #00c182,
    #53bc2e
  );
}

#color-collection .right-side .swatch-area .color-circle:nth-child(2) {
  background-image: linear-gradient(
    to right top,
    #5736aa,
    #7044b4,
    #8753be,
    #9c63c8,
    #b173d2,
    #b978d7,
    #c07cdc,
    #c881e1,
    #c57ae2,
    #c273e2,
    #bf6ce3,
    #bb65e4
  );
}

#color-collection .right-side .swatch-area .color-circle:nth-child(3) {
  background-image: linear-gradient(
    to right top,
    #9ac0f5,
    #a1b7f1,
    #a9aeeb,
    #b2a4e2,
    #bb9ad8,
    #ce93d0,
    #df8cc3,
    #ee86b3,
    #ff849a,
    #ff897c,
    #ff965c,
    #fca83c
  );
  margin-right: 0;
  padding-right: 0;
}

#color-collection .right-side .info-box {
  max-width: 340px;
  width: 100%;
  background-color: #fff;
  padding: 45px 20px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}

#color-collection .right-side .info-box h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

#color-collection .right-side .info-box h2 span {
  display: block;
  text-align: center;
}

#color-collection .right-side .info-box h2 span.orange {
  color: #fca83c;
  font-weight: 100;
}

#color-collection .right-side .info-box h2 span.blue {
  color: #6066f2;
}

#color-collection .right-side .info-box h2 span.purple {
  color: #b286f2;
  font-weight: 100;
}

#color-collection .right-side .info-box p {
  color: #aaacaf;
  font-size: 1rem;
  margin-top: 40px;
  margin-bottom: 30px;
}

#color-collection .right-side .info-box a {
  color: #868beb;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
  display: block;
}

#color-collection .right-side .info-box .line {
  height: 2px;
  width: 50px;
  display: inline-block;
  background-color: #b286f2;
  /* margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px; */
}

#color-collection .right-side .color-slider {
  width: 15px;
  height: 500px;
  border-radius: 45px;
  margin-left: 50px;

  position: relative;
  background: #b384f6; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #b384f6 1%,
    #f1a159 23%,
    #7c68f7 48%,
    #7db9e8 73%,
    #d97de8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #b384f6 1%,
    #f1a159 23%,
    #7c68f7 48%,
    #7db9e8 73%,
    #d97de8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #b384f6 1%,
    #f1a159 23%,
    #7c68f7 48%,
    #7db9e8 73%,
    #d97de8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b384f6', endColorstr='#d97de8',GradientType=0 ); /* IE6-9 */
}

#color-collection .right-side .color-slider .picker {
  border-radius: 50%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 140px;
  left: -16px;
  box-sizing: content-box;
}

#color-collection .right-side .color-slider .picker .inner-picker {
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    #f1a159 23%,
    #b384f6 80%,
    #7c68f7 100%
  );
  width: 25px;
  height: 25px;
  position: absolute;
  top: 12px;
  left: 12px;
}
