#top-jumbo {
  padding: 0 0 200px;
  background: #fff;
  background: -moz-linear-gradient(
    -45deg,
    #ffffff 0%,
    #ffffff 40%,
    #9848f2 77%,
    #795278 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #ffffff 0%,
    #ffffff 40%,
    #9848f2 77%,
    #795278 100%
  );
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #ffffff 40%,
    #9848f2 77%,
    #795278 100%
  );
}

#top-jumbo:after {
  content: "";
  display: table;
  clear: both;
}

#top-jumbo .left-side {
  width: 40%;
  display: inline-block;
  float: left;
}

#top-jumbo .left-side .large-number {
  font-size: 178px;
  font-weight: 700;
  opacity: 0.1;
  color: #4c44c1;
  position: relative;
  left: -11px;
  top: -27px;
  z-index: 1;
}

#top-jumbo .left-side .info-container {
  position: relative;
  top: -100px;
}

#top-jumbo .left-side .info-container h1 {
  color: #6066f2;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.1;
}

#top-jumbo .left-side .info-container p {
  color: #bcbfc8;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

#top-jumbo .left-side .info-container .email-area {
  background: #fff;
  border-radius: 50px;
  display: inline-block;
  padding: 10px;
}

#top-jumbo .left-side .info-container .email-area .far {
  color: rgb(121, 122, 124);
  padding: 10px;
  font-size: 1.6rem;
  position: relative;
  top: 7px;
  margin-left: 15px;
}

#top-jumbo .left-side .info-container .email-area input[type="email"] {
  background: #fff;
  color: rgb(121, 122, 124);
  padding: 10px;
  font-size: 1rem;
  border: none;
  width: 220px;
}

#top-jumbo .left-side .info-container .email-area input[type="email"]:focus {
  border: none;
}

#top-jumbo .left-side .info-container .email-area input::placeholder {
  color: #bcbfc8;
}

#top-jumbo .left-side .info-container .email-area button {
  background: #6066f2;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 16px 40px;
  font-size: 1rem;
  border-style: none;
}

#top-jumbo .right-side {
  width: 60%;
  display: inline-block;
  float: left;
  padding: 0 40px;
}

#top-jumbo .right-side img {
  width: 80%;
}
