#top-jumbo {
    background: #fff;
    background: -moz-linear-gradient(135deg, #ffffff 0%, #ffffff 40%, #e0a1df 100%);
    background: -webkit-linear-gradient(135deg, #ffffff 0%, #ffffff 40%, #e0a1df 100%);
    background: linear-gradient(135deg, #ffffff 0%, #ffffff 40%, #e0a1df 100%);
}

#top-jumbo .left-side {
    width: 35%;
    display: inline-block;
    float: left;
}

#top-jumbo .right-side {
    width: 65%;
    display: inline-block;
    float: left;
}

#top-jumbo .right-side img {
    width: 100%;
}

#top-jumbo:after {
    content: "";
    display: table;
    clear: both;
}